.main-container {
    border: 10px solid red;
    height: 100%;
    width: 100%;
    padding: 20;
}
header {
    border: 5px solid blue;
    height: 50px;
    text-align: center;
    background-position: top;
      padding: 30px;
  font-size: 40px;
  text-align: center;
  
  
}
.profile-pic {
  width: 20em;
  height:  6em;
  border-radius: 50%;
  margin: 15% auto;
  
} 
nav {
    border: 2px solid green;
    height: 100px;
    width: auto;
    padding:0;

}
.leftcolum {
    float: right;
    width: 75%;
}
.card {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    background-position: center;
    
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    {}
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
     
     